@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

@layer base {
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
  .font-poppins {
    font-family: var(--font-poppins);
  }
  .font-openSans {
    font-family: var(--font-openSans);
  }
}
